<header>
    <form>
        <h2>Card Name</h2>
        <div class="group">
            <input name="search" type="text" placeholder="Card name" id="name">
            <label for="name">Card Name</label>
        </div>
    </form>
</header>